---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ site.founded }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for item in collections.content | sort(attribute='url') %}
  {# Count slashes to derive URL depth. /x/ = 2 slashes = depth 1. #}
  {%- set _slashes = (item.url | replace('/', '|/') | length) - (item.url | length) %}
  {%- set _depth = _slashes - 1 %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ site.founded }}</lastmod>
    <changefreq>{% if _depth <= 1 %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if _depth == 1 %}0.8{% elif _depth == 2 %}0.7{% else %}0.6{% endif %}</priority>
  </url>
  {%- endfor %}
</urlset>
